p{
  line-height: 20px;
}

/* .regular {
  letter-spacing: -0.41px;
  color: "#191B36";
}

.italic {
  letter-spacing: -0.41px;
  color: "#757686";
}

.paragraph-small{
  font-size: 14px;
  line-height: 20px;
}

.paragraph-medium{
  line-height: 22px;
  font-size: 17px;
} */