
.heading {
    color:"#191B36";
}

.heading-xs {
    font-family: "DMSans-Regular";
    font-size: 14px;
    line-height: 20px;
}

.heading-small {
    font-family: "DMSans-Regular";
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.41px;
}

.heading-medium {
    font-family: "DMSans-Regular";
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
}

.heading-medium-bold {
    font-family: "DMSans-Bold";
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.35px;
}

.heading-large-bold {
    font-family: "DMSans-Bold";
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.35px;
}
