h1 {
  color: #191B36;
  line-height: 42px;
}

.title-large {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 34;
  font-weight: 900;
}

.title-small {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20;
font-weight: 900;
}

  