.button {
  cursor: pointer;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: none;
}

.button-regular {
  background-color: #191B36; 
}

.button-disabled {
  background-color: #DCDBDF;
}

.button-small {
  width: 139px;
  height: 44px;
  padding: 6px, 20px, 6px, 16px;
  border-radius: 14px;
  gap: 8px;
}

.button-large {
  width: 342px;
  height: 50px;
  border-radius: 100px;
} 

