.pill {
    border-width: 2px;
    border-radius: 24px;
    border-color:#191B36;
    cursor: pointer;
    display: inline-block;
    color: #191B36;
    font-family: "DMSans-Regular";
    line-height: 16px;

   /* Icon --- 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px; */
  }

  .pill-standard {
    font-size: 17px;
    width: 159px;
    height: 44px;
    background-color: transparent;
  }

  .pill-flexible {
    font-size: 13px;
    height: 32px;
    background-color: transparent;
    padding-top: 4px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 4px;
    /* line-height: 1.6; */
  }
  

  